

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2d2d2d, #1a1a1a);
    margin: 0;
    padding: 0;
    color: #fff;
    min-height: 100%;
}

.container {
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background: rgba(34, 34, 34, 0.5); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #4e7fff;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff; 
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px; /* Increased padding for a better look */
    margin-bottom: 20px; /* Increased margin for better spacing */
    border: 1px solid #333; /* Dark gray border */
    border-radius: 8px; /* Increased border radius for rounded corners */
    font-size: 16px;
    background-color: rgba(50, 50, 50, 0.7); /* Dark gray background */
    color: #fff; /* White text color */
}

textarea {
    resize: vertical;
}

select[multiple] {
    height: auto;
}

button[type="submit"] {
    background-color: #4e7fff; 
    color: #fff;
    padding: 12px 24px; /* Increased padding for a better look */
    border: none;
    border-radius: 8px; /* Increased border radius for rounded corners */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #375ab4; /* Darker blue on hover */
}

/* Styling for error messages */
.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Modal Popup Styles */
.modal-content {
    background-color: rgba(34, 34, 34, 0.9); /* Dark gray background for modal content */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.modal-title {
    color: #4e7fff; 
}

.modal-body {
    font-size: 16px;
    color: #fff; /* White text color for modal content */
}

.modal-footer {
    background-color: rgba(34, 34, 34, 0.9); /* Dark gray background for modal footer */
}

.btn-primary {
    background-color: #4e7fff !important; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 8px; /* Increased border radius for rounded corners */
}

.btn-primary:hover {
    background-color: #375ab4 !important; /* Hover state background color */
}
