body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2d2d2d, #1a1a1a);
    margin: 0;
    padding: 0;
    color: #fff;
    min-height: 100%;
}

.container {
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background: rgba(34, 34, 34, 0.9); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    backdrop-filter: blur(10px); 
}

h2 {
    text-align: center;
    color: #4e7fff;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 8px; 
    font-size: 16px;
    background-color: rgba(50, 50, 50, 0.7); 
    color: #fff;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    margin: 20px auto 0; 
    background-color: #4e7fff; 
    color: #fff;
    padding: 12px 24px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #375ab4; 
}


select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='6'><polygon points='0,0 12,0 6,6' fill='#888'/></svg>");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 6px;
    cursor: pointer;
    color: #fff; 
}


.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}


#bugSubmissionModal .modal-content {
    background-color: rgba(34, 34, 34, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

#bugSubmissionModal .modal-title {
    color: #4e7fff; 
}

#bugSubmissionModal .modal-body {
    font-size: 16px;
    color: #fff; 
}

#bugSubmissionModal .modal-footer {
    background-color: rgba(34, 34, 34, 0.9); 
}

#bugSubmissionModal .btn-primary {
    background-color: #4e7fff !important;
    color: #fff;
    border: none;
    border-radius: 8px; 
}

#bugSubmissionModal .btn-primary:hover {
    background-color: #375ab4 !important; 
}


#bugSubmissionModal input[type="text"],
#bugSubmissionModal select,
#bugSubmissionModal textarea {
    width: 100%;
    padding: 12px; 
    margin-bottom: 20px; 
    border: 1px solid #333; 
    border-radius: 8px; 
    font-size: 16px;
    background-color: rgba(50, 50, 50, 0.7); 
    color: #fff; 
}

#bugSubmissionModal .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}
#bugSubmissionModal .modal-content {
    background-color: rgba(34, 34, 34, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

#bugSubmissionModal .modal-footer {
    background-color: rgba(34, 34, 34, 0.9); 
}
#bugSubmissionModal .close {
    color: #fff;
}